*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bgColor:#2385C4;
}
body{
    background-image: url("images/dear.png"),url("images/boy.png"),url("images/donut.png");
    background-repeat: no-repeat;
    background-size: 6.25rem,4.5rem,5rem;
    background-position: bottom left,top right,bottom right;
    background-color: var(--bgColor);
    background-attachment: fixed;
    
}
.container{
    width: 100%;
    height: 100vh;
}
.main-container{
    flex-wrap: wrap;
    margin: 10px;
    max-width: 100%;
    height: 100vh;
}
.top{
    display: flex;
    max-width: 100%;
    align-items: center;
}
.top .language{
    max-width: fit-content;
    max-height: fit-content;
    font-size: 18px;
    margin-right: 0.3125rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    color: white;
}
.top .lan-but{
    width: 74px;
    height: 37px;
    font-size: 18px;
    outline: none;
    border: 0;
    color: white;
    font-size: auto;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    background: #DF5A1C;
    border-radius: 25px;
    cursor: pointer;
}
.dTitle{
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}
.dTitle h1{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #F79630;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
}
.middle-con{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
}
.middle{
    width: 100%;
    height: 20%;
    display: table;
}
.easy,.normal,.difficult{
    float: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
}

.ez{
    color: #8CE8B3;
}
.nm{
    color: #BBBAB5;
}
.dt{
    color: #FF5959;
}
.easyS,.normalS,.difficultS{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
    border-radius: 25px;
    width: 110px;
    height: 100px;
}
.BE,.BN,.BD{
    width: 80px;
    height: 80px;
}
.BD{
    margin-right: 10px;
}
.Under{
    display: none;
}
@media only screen and (min-width:600px) {
    .easy,.normal,.difficult{
        max-width: 33.33%;
        font-size: 3vw;

    }
    .easyS,.normalS,.difficultS{
        width: 40%;
        height: inherit;
    }
    .BE{
        width: 70.5%;
        height: 100%;
    }
    .BN{
        width: 80%;
        height: 100%;
    }
    .BD{
        width: 87%;
        height: 100%;
    }
    .dTitle h1{
        font-size: 4vw;
    }
    .easy::after,.normal::after,.difficult::after{
        content: '';
        background-color: white;
        width: 10vw;
        height: 5px;
    }
    .Under{
        width: 100%;
        float: left;
        display: flex;
        clear: left;
    }
    .entry, .dec, .exp{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33.33%;
        font-family: 'Poppins',sans-serif;
        font-weight: 400;
        font-size: 1.5vw;
        color:white;
    }
    .top .language{
        font-size: 1.5vw;
    }
    .top .lan-but{
        width: 6vw;
        height: 2.5vw;
        font-size: 1.5vw;
    }
    body{
        background-size: 10vw,10vw,8vw;
    }
}