*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #2385C4;
}
.container{
    width:100%;
    min-height: 100vh;
    padding-left:5%;
    box-sizing: border-box;
    overflow: hidden;
}
.top{
    width: 100%;
    display: flex;
    align-items: center;
}
.language{
    width: 100px;
    margin: 30px 0;
    color: white;
}
.lan_button{
    width: 77px;
    height: 38px;
    outline: none;
    border: 0;
    color: white;
    font-size: large;
    font-weight: bold;
    background: #DF5A1C;
    border-radius: 25px;
    cursor: pointer;
}
.lan_button:hover{
    background: #F6D448;
    color: black;
}
.rows{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15% 0;
}
.col1{
    flex-basis: 40%;
    color: white;
    margin-right: 20%;
    position: relative;
    display: flex;
    align-items: center;
}
.col1 h1{
    font-size: 93px;
}
.col1::after{
    display: block;
    content: '';
    width: 60%;
    height: 20px;
    background: #F6D448;
    position: absolute;
    margin-top: 220px;
    margin-left: 100px;
}
.Web_Brain{
    margin-left: 10%;
    width: 50%;
}
.col2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
    margin-right: 10%;
    z-index: 9999;
}
.outer-square{
    position: absolute;
    width: 474px;
    height: 526px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-left: 15%;
}
.inner-square{
    position: absolute;
    width: 334px;
    height: 343px;
    background: white;
    border-radius: 25px;
    margin-left: 15%;
}
.inner-square-back{
    position: absolute;
    width: 334px;
    height: 433px;
    background: white;
    border-radius: 25px;
    margin-left: 15%;
}
.inner-square{
    display: block;
}
.inner-square.show{
    display: none;
}
.inner-square-back{
    display: none;
}
.inner-square-back.show {
    display: block;
}
.fom{
    width:100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding-left: 5%;
    padding-top: 3%;
    overflow: hidden;
}
.brain{
    width: 60px;
    padding-bottom: 3%;
    margin-left: 35%;
}
nav{
    flex: 1;
}
nav ul li{
    list-style: none;
    display: block;
    margin-bottom: 30px;
    display: flex;
    margin-left: 2%;
    align-items: center;
}
nav ul li h3{
    font-weight: normal;
}
nav img{
    margin-right: 20px;
}
.mail{
    width: 30px;
}
.capsule-textfield {
    padding: 8px 12px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 20px;
    font-size: 16px;
    outline: none; 
    background-color: #F79630;
    height: 44px;
  }
  .capsule-textfield:hover {
    border-color: #23844C;
  }
  
  .capsule-textfield:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px #007bff;
  }
/* Base styling for the capsule select container */
.capsule-select {
    position: relative;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #F79630;
    font-size: 16px;
    margin-left: 5px;
  }
  
  /* Styling for the selected option */
  .selected-option {
    display: inline-block;
    color: #000000;
  }
  
  /* Styling for the dropdown options */
  .options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 160px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
  }
  .options li {
    padding: 8px 16px;
  }
  
  /* Optional styles for the hover effect on options */
  .options li:hover {
    background-color: #23844C;
  }
  .button-li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
  }
  .button-li-back{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    display: flex;
  }
.sign-in-button,.sign-up-button,.guest_button,.real-sign-up-button{
    width: 77px;
    height: 38px;
    outline: none;
    border: 0;
    color: white;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 10px;
}
.sign-in-button{
    background: #23844C;
}
.sign-up-button, .real-sign-up-button{
    background: #5271FF;
}
.guest_button{
    background: #6E614D;
}
.back-but{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    outline: none;
    border: 0;
    cursor: pointer;
    background: black;
    margin-right: 15px;
}
.back-but img{
    margin-left: 20%;
    width: 25px;
}
.rainBox{
    position: fixed;
    bottom: 0;
    left:  0;
    width: 100%;
}
.rain{
    width: 100px;
    height: 100px;
}
.bottom1{
    display: flex;
    width: 100%;
}
.square{
    position: absolute;
    width: 8%;
    margin-left: 30%;
    transform: translateY(-100px);
}
.question{
    position: absolute;
    width: 7%;
    margin-left: 60%;
    transform: translateY(-200px);
}
.moon{
    position: absolute;
    width: 7%;
    margin-left: 80%;
    transform: translateY(-200px);
}
.donut{
    position: absolute;
    width: 8%;
    margin-left: 30%;
    transform: translateY(100px);
}
.donut0{
    position: absolute;
    width: 7%;
    margin-left: 60%;
    transform: translateY(200px);
}
.cone{
    position: absolute;
    width: 7%;
    margin-left: 80%;
    transform: translateY(200px);
}
@media only screen and (min-width:768px) {
    .tabBrain{
        display: none;
    }
}
@media only screen and (max-width:1587px){
    .col1{
        margin-left: 40%;
    }
    .tabBrain{
        display: none;
    }
}
@media only screen and (max-width:1458px){
    .tabBrain{
        display: none;
    }
    .cone{
        transform: translateY(100px);
    }
    .donut0{
        transform: translateY(100px);
    }
    .question{
        transform: translateY(-100px);
    }
    .moon{
        transform: translateY(-100px);
    }
    .square{
        transform: translateY(-50px);
    }
    .donut{
        transform: translateY(50px);
    }
}
@media only screen and (max-width:1348px) {
    .tabBrain{
        display: none;
    }
    .cone{
        transform: translateY(50px);
    }
    .donut0{
        transform: translateY(50px);
    }
    .question{
        transform: translateY(-50px);
    }
    .moon{
        transform: translateY(-50px);
    }
    .square{
        transform: translateY(-25px);
    }
    .donut{
        transform: translateY(25px);
    }
}
@media only screen and (max-width:1200px){
    .tabBrain{
        display: none;
    }
    .col1{
        margin-left: 45%;
    }
    .donut{
        transform: translateY(10px);
    }
    .square{
        transform: translateY(-10px);
    }
    .question, .moon{
        transform: translateY(-80px);
        width: 8%;
    }
    .donut0{
        width: 10%;
    }
}
@media only screen and (max-width:992px) {
    .tabBrain{
        display: none;
    }
    .outer-square{
        background-color: rgba(255, 255, 255, 0);
    }
    .inner-square{
        width: 334px;
        height: 343px;
    }
    .col1 h1{
        font-size: 63px;
    }
}
@media only screen and (max-width:768px) {
    .container{
        padding-right: 5%;
    }
    .language{
        font-size: 16px;
    }
    .lan_button{
        width: 67px;
        height: 28px;
        font-size: 16px;
    }
    .rows{
        flex-direction: column-reverse;
    }
    .col2{
        flex-basis: 100%;
        justify-content: center;
        margin-right: 0%;
        margin-top: 100px;
    }
    .col1{
        flex-basis: 100%;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        transform: translateY(-120px);
    }
    .col1 h1{
        font-size: 35px;
    }
    .col1::after{
        display: none;
    }
    .Web_Brain{
        display: none;
    }
    .tabBrain{
        display: block;
        position:absolute;
        width: 150px;
        transform: translateY(200px);
    }
    .question{
        display: none;
    }
    .donut{
        display: none;
    }
    .rain{
        width: 10%;
        height: 10%;
    }
}
@media only screen and (min-width:375px) {
    .tabBrain{
        transform: translateX(-10px);
    }
    .col2{
        margin-top: 200px;
    }
    .col1{
        transform: translateY(-50px);
    }
}
@media only screen and (max-width:375px) {
    .tabBrain{
        transform: translateX(-10px);
    }
    .col2{
        margin-top: 200px;
    }
    .col1{
        transform: translateY(-50px);
    }
}